.blog-post {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 3rem;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  background-color: var(--clr-lighterDark);
}

.blog-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-accent);
  padding: 0.5rem;
  border-radius: 10px;
  outline: 1px black solid;
}

.blog-header:hover {
  cursor: pointer;
}

.blog-content {
  margin: 0.5rem 1rem 0.5rem;
  padding-left: 1rem;
  border-left: 6px solid var(--clr-accent);
  transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  max-height: 1000vh;
}

.preview-content {
  max-height: 5rem;
  overflow-y: hidden;
  transition: all 0.6s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.blog-post h1,
.blog-post h2,
.blog-post h3,
.blog-post h4 {
  margin: 0;
}

.blog-post h3 {
  color: var(--clr-accent2);
  font-weight: var(--fw-bold);
  text-shadow: black 0px 0px 3px;
}

.blog-post p {
  /* font-size: 24px; */
  font-weight: 300;
  color: var(--clr-darkerLight);
}
