.blog {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 100px;
}

.blog-left {
  width: calc(100% - 500px);
  min-width: 600px;
}

.blog-right {
  position: fixed;
  right: 4vw;
  top: 100px;
  float: right;
  background-color: var(--clr-lighterDark);
  border-radius: 10px;
  width: 400px;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.blog-right::-webkit-scrollbar {
  width: 0.5em;
}

.blog-right::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.blog-right::-webkit-scrollbar-thumb {
  background-color: var(--clr-lighterDark);
  border-radius: 10px;
  outline: 1px solid slategrey;
}
